QDockWidget {
        /* this defines the title text! */
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #444;
}

QDockWidget::title {
        background-color: #ddd;
        text-align: left;
        padding-left: 5px;
        border: none;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
        border: none;
}
